<div class="row">

  <%= render "guest_info" %>

  <%= render "friendships/friends_table" %>

</div>

<div class="row">

  <%= render "friendships/search_friends", :path => guest_path(current_user) %>

  <%= render "visits" %>

</div>
