<div class="row">

  <%= render "guest_info" %>

  <div class="col-md-8">
    <%= render "friendships/friends_table", :links_partial => "guest_page_links" %>
  </div>

</div>

<div class="row">

  <%= render "friendships/search_friends", :path => guest_path(current_user) %>

  <%= render "visits" %>

</div>

<div class="col-md-12"><br>
</div>
<div class="col-md-12"><br>
</div>
