<div class="row">

  <div class="col-md-12">
    <%= render "friends_table", :links_partial => "friends_page_links" %>
  </div>

</div>
<div class="row">

  <%= render "friendships/search_friends", :path => users_friendships_path(current_user) %>

</div>
<br>
