<div class="row">

  <%= render "friends_table", :links_partial => "friends_page_links" %>

</div>
<div class="row">

<%= render "friendships/search_friends", :path => users_friendships_path(current_user) %>

</div>
<br>
